*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',sans-serif;
}

.Personal{
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.Left-Col{
	flex-basis: 30%;
	background-color: rgba(0,181,204,1);
	height: 100%;
}
.Right-Col{
	flex-basis: 70%;
	height: 100%;
}
.Left-Col h1{
	margin-top: 50px;
	font-size: 40px;
	margin-left: 20px;
	color: rgba(200,55,55,1);
}
.Left-Col h2{
	margin-top: 25px;
	font-size: 20px;
	margin-left: 20px;
	color: rgba(79,51,141,1);
}
.Left-Col p{
	margin-top: 15px;
	margin-left: 20px;
	line-height: 1.6;
}
.Left-Col h3{
	margin-left: 20px;
	margin-top: 20px;
	color: rgba(230,169,45,1);
}
ul
{
	margin-top: 15px;
	margin-left: 30px;
	line-height: 1.6;
	margin-bottom: 15px;
}
.Right-Col h2{
	text-align: left;
	margin-left: 25px;
	margin-top: 20px;
}
.Right-Col p{
	margin-left: 15px;
	margin-top: 25px;
	line-height: 1.6;
}
.Right-Col table{
	border-collapse: collapse;
	margin-top: 15px;
}
.Right-Col table td,th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.Symbols ul{
	display: inline-flex;
	list-style: none;
	color:rgba(241,119,151);
}
.Symbols ul li{
	width: 35px;
	padding-left: 15px;
	padding-right: 25px;
	margin: 10px;
}
.Symbols ul li a{
	text-decoration: none;
	color: #fff;
}
.Social{
	padding-right: 20px;
}